---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import SectionLayout from "@/layouts/SectionLayout.astro";
import Post from "@/components/Post.astro";

const [projects, experiments] = await Promise.all([
  getCollection("projects"),
  getCollection("experiments"),
]);
---

<BaseLayout title="Personal website">
  <SectionLayout title="Hi there! I'm Dmitry" as="h1">
    <p>
      A Frontend Developer with over four years of hands-on experience,
      passionate about client-side development and the broader JavaScript
      ecosystem. I am actively seeking opportunities to further enhance my
      skills and expand my knowledge in this dynamic field.
    </p>
  </SectionLayout>

  <hr class="divider section-divider" />

  <SectionLayout title="Projects" as="h2" icon="atom">
    {
      projects.map(({ id, data }) => (
        <Post
          title={data.title}
          link={`/projects/${id}`}
          description={data.description}
          publishDate={data.publishDate}
        />
      ))
    }
  </SectionLayout>

  <hr class="divider section-divider" />

  <SectionLayout title="Experiments" as="h2" icon="flask">
    {
      experiments.map(({ id, data }) => (
        <Post
          title={data.title}
          link={`/experiments/${id}`}
          description={data.description}
          publishDate={data.publishDate}
        />
      ))
    }
  </SectionLayout>
</BaseLayout>
