---
import FormattedDate from "./FormattedDate.astro";

export interface Props {
  title: string;
  link: string;
  description?: string;
  publishDate?: Date;
  tags?: string[];
}

const { title, link, description, publishDate, tags } = Astro.props;
---

<article class="post">
  <a class="post-link" href={link} data-astro-prefetch>
    <h3 class="post-title">{title}</h3>
  </a>
  <div class="post-info">
    {publishDate && <FormattedDate date={publishDate} className="post-date" />}
    {
      tags?.length && (
        <ul class="post-tags">
          {tags.map((tag) => (
            <li class="post-tag">{tag}</li>
          ))}
        </ul>
      )
    }
  </div>

  {description && <p class="post-description">{description}</p>}
</article>
