---
import type { Icons, PostPreview } from "@/types/common";
import Tags from "./Tags.astro";
import Icon from "./Icon.astro";
import Preview from "./PostPreview.astro";

export interface Props {
  title: string;
  link: string;
  icon?: Icons;
  description?: string;
  tags?: string[];
  preview?: PostPreview;
}

const { title, link, description, tags, preview } = Astro.props;
---

<article class="post">
  <h3 class="post-title">
    <a href={link} data-astro-prefetch>{title}</a>
  </h3>
  <div class="post-info">
    {
      !!tags?.length && (
        <div class="post-info-item">
          <Icon icon="tags" />
          <Tags tags={tags} />
        </div>
      )
    }
    {
      preview && (
        <div class="post-info-item">
          <Icon icon="eye" />
          <Preview preview={preview}>Preview</Preview>
        </div>
      )
    }
  </div>

  {description && <p class="post-description">{description}</p>}
</article>

<style>
  .post {
    margin-bottom: var(--spacing-3);
  }

  .post-title {
    margin-bottom: var(--spacing-1);
  }

  .post-info {
    display: flex;
    align-items: center;
    margin: var(--spacing-1) 0;
    gap: var(--spacing-5);
  }

  .post-info-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
  }

  .post-description {
    margin-top: 0;
  }
</style>
